body {
  min-height: 75rem;
}
.login{
  background-color: #DCEAED;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content{
	text-align: left;
  padding-left: 20px;
  padding-right: 60px;
}
.form-stuff{
  background-color: #DCEAED;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.footerhdr{
  font-size: 10px;
}

h1{
  color: #FF545C;
}

li {
  list-style-type: none;
}
.musiclist{
  background-color: #DCEAED;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.musiclist li:before {
  content: '🎵 ';

}
a{
  color: #FF545C;
}
/* navbar */
.navbar-default .navbar{
    background-color: ##1C2C3D;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: ##1C2C3D;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}

.row-border{
	border-top: 3px solid #afb8c6;
}
